<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/blabla.css' />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src='javascripts/bootstrap.min.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% for(var i=0; i<twitts.length; i++) {%>
	 <li><%= twitts[i] %></li>
	 <% } %>      
    </ul>
  </body>
</html>
