<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/blabla.css' />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src='javascripts/bootstrap.min.js'></script>
    <script src='javascripts/socket.io.js'></script>
    <script src='javascripts/blabla.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (physical_button == false) { %>
    <button type="button" onclick="start()" class="btn btn-default">Start</button>
    <% } %>
    <div id="messages">
    </div>
  </body>
</html>
