<!DOCTYPE html>
<html>
  <head>
    <title>Informations</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src='javascripts/bootstrap.min.js'></script>
  </head>
  <body>
    <h1>Informations</h1>
    <h2>Introduction</h2>
    <p>Bienvenue sur Blabla Musée</p>
    <h2>Equipe</h2>
    <h2>License</h2>
    Le code est publié sous license GPL.
  </body>
</html>

